# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\cyn89\IdeaProjects\NEO4J-DEMO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
HELP.md
mvnw
mvnw.cmd
neo4j-demo.iml
.idea
target
